<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="3">
<listeners>
<listener class-name="com.productsup.platform.listeners.ListenerClass" />
<listener class-name="com.productsup.platform.listeners.MethodInterceptor" />
<listener class-name="com.productsup.platform.listeners.AnnotationTransformer" />

</listeners>
  <test thread-count="10" name="Test" parallel="classes">
    <classes>

        <class name="com.productsup.platform.tests.DataviewTest"/>
        <class name="com.productsup.platform.tests.NavigationMenuOptionsTest"/>
        <class name="com.productsup.platform.tests.DataSourcesTest"/>
        <class name="com.productsup.platform.tests.DataExportsTest"/>
        <class name="com.productsup.platform.tests.MonitorTest"/>
        <class name="com.productsup.platform.tests.DataflowTest"/>


    </classes>
  </test> <!-- Test -->
</suite>
